* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url(images/mmc5277.png) ;
}
header {
    background-color:#DA7445;
    color: white;
    padding: 20px 16px;
}

nav a {
    float: left;
    color:white;
    text-align: center;
    margin: 0 10px;
    text-decoration: none;
    font-size: 17px;
}

main {
    width: 70%;
    display: inline-block ;
}

aside {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

headshot{
  float: left;
  margin: 300px;
}

h1, h2 {
    font-size: large;
}

img {
    width: 500px;
}