* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url(images/mmc5277.png);
}
.container {
    max-width: 900px;
    margin: 0 auto;
}
header {
    background-color:#DA7445;
    color: white;
    padding: 20px 16px;
    border-bottom: 3px;
}
nav {
    width: 45%;
    display: inline-block;
    text-align: right;
}
nav a {
    float: left;
    color:white;
    text-align: center;
    margin: 0 10px;
    text-decoration: none;
    font-size: 17px;
}
h1 {
    width: 50%;
    display: inline-block ;
}
main {
    width: 70%;
    display: inline-block ;
    padding: 20px;
}

aside {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

headshot{
  float: left;
  margin: 300px;
}

h1, h2 {
    font-size: ;
}

img {
    width: 300px;

}
aside {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}
footer {
    background-color: #F1B580;
    text-align: center;
    padding: 20px 0;
}